<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="databaseConnection" connectionString="Data Source=.;Initial Catalog=local_database;Integrated Security=true" />
  </connectionStrings>
  <appSettings>
    <add key="SharedSetting" value="ForLocal" />
    <add key="UniqueSetting" value="ForLocal" />
  </appSettings>
</configuration>